@using Sports.Data;
@model AthleteListModel
@{
    List<User> users = Model.users;
}
<div class="container">
    @if (users.Count > 0)
    {
        <div class="table">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Delete</th>
                </tr>
                @foreach (var user in users)
                {
                    <tr>
                        <th>@user.Name</th>
                        <th><a asp-action="DeleteUser" asp-controller="Main" asp-route-Id="@user.Id" class="btn btn-danger">Delete</a></th>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        <h3>No records Found</h3>
    }
        <div>
            <a asp-action="CreateUser" asp-controller="Main" class="btn btn-primary">Create New Athlete</a>
            <a asp-action="LogOut" asp-controller="Main" class="btn btn-danger">LogOut</a>
        </div>
</div>