@model Sports.Data.User
@{

}
<div class="container">
    <form asp-action="CreateUser" asp-controller="Main">
        <div class="form-group">
            <label>Enter Name of athlete</label>
            <input asp-for="Name" type="Text" name="Name" id="Name" class="form-input">
            <input type="hidden" name="Type" id="Type" asp-for="Type" value="Athlete">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a class="btn btn-primary" asp-action="AthleteList" asp-controller="Main">cancel</a>
    </form>
</div>