@using Sports.Core;
@model Sports.Core.Test;
@{
    Test test = (Test)ViewData["test"];

}

<div class="container" style="margin:10px">
    <div>
        <form asp-action="EditTest" asp-controller="Main" method="post">
            <div class="form-group">
                <label for="Date">Test Date(mm-dd-yyyy)</label>
                <input type="date" id="Date" name="Date" asp-for="Date" class="form-control" onmouseover="validate()" onclick="validate()" onkeyup="validate()" value="@test.Date">
                <p id="name" style="color:red"></p>
            </div>
            <div class="form-group">
                <label for="Type">test Type</label>
                <select id="Type" name="Type" asp-fro="Type" class="form-control custom-select" onclick="validate()">
                    @{
                        if (test.Type == "Coopertest")
                        {
                            <option value="null" disabled>--select--</option>
                            <option value="Coopertest" selected>Coopertest</option>
                            <option value="100 meter sprint">100 meter sprint</option>
                        }
                        else if (test.Type == "100 meter sprint")
                        {
                            <option value="null" disabled>--select--</option>
                            <option value="Coopertest">Coopertest</option>
                            <option value="100 meter sprint" selected>100 meter sprint</option>
                        }
                        else
                        {
                            <option value="null" selected disabled>--select--</option>
                            <option value="Coopertest">Coopertest</option>
                            <option value="100 meter sprint">100 meter sprint</option>
                        }
                    }

                </select>
                <p id="list" style="color:red"></p>
            </div>
            <input type="hidden" name="CoachId" id="CoachId" asp-for="CoachId" value="@test.CoachId" />
            <input type="hidden" name="Number" id="Number" asp-for="Number" value="@test.Number" />
            <input type="hidden" name="Id" id="Id" asp-for="Id" value="@test.Id" />
            <button type="submit" id="submit" onmouseover="validate()" class="btn btn-primary">Create</button>
            <a asp-action="Dashboard" asp-controller="Main" class="btn btn-primary">Cancel</a>
            <script type="text/javascript">
                function validate() {

                    var a = document.getElementById("Date").value;
                    var b = document.getElementById("Type").value;


                    if (a == "") {
                        document.getElementById("name").innerHTML = "please select Date";
                        a = false;
                    }
                    else {
                        document.getElementById("name").innerHTML = "";
                        a = true;
                    }
                    if (b == "null") {
                        document.getElementById("list").innerHTML = "please select Type";
                        b = false;
                    }
                    else {
                        document.getElementById("list").innerHTML = "";
                        b = true;
                    }
                    if (a&b) {
                        document.getElementById("submit").disabled = false;
                    }
                    else {
                        document.getElementById("submit").disabled = true;
                    }
                }
            </script>
        </form>
    </div>
</div>