<div class="container" style="margin:10px">
    <div>
        <form>
            <div class="form-group">
                <label for="Date">Test Date(mm-dd-yyyy)</label>
                <input type="date" id="Date" name="Date" class="form-control" [(ngModel)]="test.date">
            </div>
            <div class="form-group">
                <label for="Type">test Type</label>
                <select id="Type" name="Type" [(ngModel)]="test.type" class="form-control custom-select">
                    <option value="null" disabled>--select--</option>
                    <option value="Coopertest" >Coopertest</option>
                    <option value="100 meter sprint">100 meter sprint</option>
                </select>
            </div>
            <button (click)="EditTest()" class="btn btn-primary">Edit</button>
            <a [routerLink]="['/Dashboard']" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</div>